/* mixin */


@mixin caja ($fondo, $border--radius) {
    background-color: $fondo;
    border-radius: $border--radius;

}


.cajas {
    .caja--index {
        @include caja(black, 5px);

        .texto--caja2 {
            font-size: 20px;
        }
    }

    .caja--index2 {

        @include caja(white, 5px);
    }

}